* {
    padding: 0;
    margin: 0;
}

/* Header Section Start */

.nav-section {
    padding: 15px;
    background-color: darkcyan;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logo-photo {
    width: 150px;
}

.menu {
    display: flex;
    text-align: center;
    align-items: center;
}

.menu-item {
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 18px;
    width: 85px;
    border: 2px solid white;
    background-color: #006464;
    border-radius: 20px;
}

.menu-item:hover {
    color: #006464;
    border: 2px solid #006464;
    background-color: whitesmoke;
    font-size: 16px;
}


.banner {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background-image: url(images/background.png), linear-gradient(45deg, #080808, #363636);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-text {
    padding: 20px;
}

.banner-title {
    font-size: 45px;
    font-weight: bold;
}

.banner-desc {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.banner-img {
    width: 300px;
}

.btn {
    text-decoration: none;
    color: white;
    font-size: 20px;

}


.btn-text {
    width: 180px; 
    padding: 10px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border: 0.5px solid #747474;
    text-align: center;

}

/* Banner Section End */